@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    body{
        margin: 0;
    }
.verh{
        margin: 0;
        width: 1440px;
        height: 779px;
        display: flex;
        align-items: center;
        background:url(./images/Rectangle.png);
        background-size: cover; 
        flex-direction: column;
    }
    .verh-nav {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
    }
    .hight-strok{
        height: 100%;
        width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        }
        .images-hight-strok{
            height: 58.43px;
            width: 68.2px;
            position: relative;
        }
        .hight-strok-logo {
            display: flex;
        }
        .hight-strok-btns {
            display: flex;
            align-items: center;
        }
        .texst-hight-strok{
            position: relative;
            margin-left: 15px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 60px;
            color: #F7F7F7;
            text-transform: uppercase;
        }
        .texst-hight-strok:hover{
            color: #CD6326;
            cursor: pointer;
        }
        .texst2-hight-strok{
            position: relative;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            line-height: 60px;
            color: #F7F7F7;
            cursor: pointer;
        }
        .texst2-hight-strok:hover{
            color: #CD6326; 
        }
        .texst3-hight-strok{
            position: relative;
            margin-left: 61px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            line-height: 60px;
            color: #F7F7F7;
            cursor: pointer;
        }
        .texst3-hight-strok:hover{
            color: #CD6326;
        }
        .images2-hight-strok{
            height: 23.31px;
            width: 23.31px;
            position: relative;
            margin-left: 64px;
            cursor: pointer;
        }
        .images2-hight-strok:hover{
            border: 3px solid #CD6326;
            border-radius: 5px;
        }
        .new {
            position: relative;
            margin-left: 65.69px;
            height: 50px;
            width: 120px;
            border: 2px solid #CD6326;
            background: none;
            border-radius:5px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            line-height: 27px;
            text-align: center;
            color: #F7F7F7;
            cursor: pointer;
        }
        .new:hover{
            color:#CD6326;
            border: 2px solid #F7F7F7;
        }
        .centrll-strok{
            width: 1320px;
            height: 400.77px;
            display: flex;
            justify-content: start;
            flex-direction: column;
            margin: 0;
            margin-top: 100px;
            margin-left: 120px;
        }
        .centrll-text{
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 72px;
            letter-spacing: 2px;
            color: #CD6326;
        }
        .centrll-text2{
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            color: #F7F7F7;
            width: 274px;
            height: 108px;
            display: flex;
            margin-top: 51px;
            margin-bottom: 49px;
        }
        .centrll button{
            background: #CD6326;
            height: 60px;
            width: 160px;
            border:#CD6326;
            border-radius: 5px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            line-height: 27px;
            text-align: center;
            color: #F7F7F7;
            margin: 0;
            /* margin-top: 65px;
            margin-left: 120px; */
        }
        .centrll button:hover{
            cursor: pointer;
            background: #F7F7F7;
            color: #CD6326;
            border: 3px solid #CD6326;
        }               
.centr{
    padding:0;
    margin: 0;
    width: 1440px;
    height: 1368px;
    background: rgb(196, 195, 195);
}
    .centr-title {
            padding-top: 120px;
        }
        .centr-h2 {
            position: relative;
            text-align: center;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 72px;
            margin: 0;
        }
        .centr-p1{
            position: relative;
            margin: 20px 0 0 0;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #666666;
        }
        .slider-content {
            display: flex;
        }
        .centr-slider {
            margin-top: 120px;
            margin-bottom: 239px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .slide-wrapper {
            position: relative;
            height: 360px;
            width: 300px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .slide-inner {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 10;
        }
        .slider-prev {
            width: 30px;
            margin-right: 60px;
        }
        .slider-prev img {
        transform: rotate(180deg);
        }
        .slider-next {
            width: 30px;
            margin-left: 60px;
        }
        .slider-prev,
        .slider-next {
            display: flex;
            align-items: center;
        }
        .slider-img{
            width: 300px; height: 360px;
            position: relative;
            border-radius: 0px;
            position: relative;
            z-index: 9;
        }
        .slider-img-center {
            margin: 0 60px;
        }
        .centr-sub{
            display: flex;
            flex-direction:column;
            align-items: center;
        }
        .centr-p2{
            margin: 0;  
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 27px;
            line-height: 40px;
            text-align: center;
            color: #333333;
            margin-bottom: 60px;
        }
        .email-input {
            height: 60px;
            display: flex;
            flex-direction: row;
        }
        .email-input button{
            background: #CD6326;
            height: 100%;
            width: 120px;
            border: 1px solid #CD6326;
            border-radius: 0px 5px 5px 0px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            line-height: 27px;
            text-align: center;
            color: #F7F7F7;
            margin: 0;
        }
        .email-input button:hover{
            border: 1px solid #070707;
        }
        .email-input [type='email']{
            display: block;
            color: #666666;
            background: #CCCCCC;
            width: 540px;
            height: 100%;
            border: 1px solid #666666;
            padding: 0 15px;
            font-size: 23px;
            outline: none;
            box-sizing: border-box;
            border-right: none !important;
        }
.niz{
    margin: 0;
    width: 1440px;
    height: 359px;
    background:url(./images/Rectangle\ \(1\).jpg);
}
    .cent-strok-nav{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding-top: 150px;
    }
    .cent-strok-in{
        height: 100%;
        width: 1200px;
        display: flex;
        justify-content: space-between;
    }
    .cent-left{
        width: 260px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .cent-left-img{
        width: 68.2px;
        height: 58.43px;
        margin-right: 16px;
    }
    .cent-left-text{
        font-family: Roboto;
        font-style: normal;
        font-weight: 100;
        font-size: 32px;
        line-height: 60px;
        text-transform: uppercase;
        color: #F7F7F7;
    }
    .cent-right{
        width: 840px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
        .cent-right-text{
            display: flex;
        }
            .cent-right-text-1 button{
                width: 80px;
                height: 60px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 23px;
                line-height: 60px;
                color: #F7F7F7;
                background: none;
                border: none;
                cursor: pointer;
            }
            .cent-right-text-1 button:hover{
                color: #CD6326;
            }
            .cent-right-text-2 button{
                width: 110px;
                height: 60px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 23px;
                line-height: 60px;
                color: #F7F7F7;
                margin-left: 86px;
                background: none;
                border: none;
                cursor: pointer;
            }
            .cent-right-text-2 button:hover{
                color: #CD6326;
            }
            .cent-right-text-3 button{
                width: 140px;
                height: 60px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 23px;
                line-height: 60px;
                color: #F7F7F7;
                margin-left: 85px;
                background: none;
                border: none;
                cursor: pointer;
            }
            .cent-right-text-3 button:hover{
                color: #CD6326;
            }
        .cent-right-img{
            width: 240px;
            display: flex;
            justify-content: space-between;
        }
            .cent-right-img-1 .cent-right-img-2 .cent-right-img-3 .cent-right-img-4{
                background: #F7F7F7;
                border-radius: 20px;
            }    
